  {{ header }}

{% if home_departamentos is defined %}
  <div class="container-fluid carouselHome">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        {% set count = 0 %}
        {% for departamento in home_departamentos %}
          {% if departamento.produtos|length > 0 %}
            {% set produto = departamento.produtos[0] %}
            <div class="carousel-item {{ count == 0 ? 'active' : '' }}">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6 py-4 py-md-0 my-md-auto animate__animated animate__pulse">
                    {# <h4>{{ departamento.nome }}</h4> #}
                    <h4 class="text-bold">{{ produto.produto.marca }}</h4>
                    {% set nome = produto.produto.nome|split(' ') %}
                    {% set f_nome = nome[0] %}
                    <h1><span class="txt-bordo">{{ f_nome }}</span> <br> 
                      {% if nome|length > 1 %}
                        {% set nome = nome|unset(0) %}
                        {{ nome|join(' ') }}
                      {% else %}  
                        {% for str in nome %}
                          {% if str != f_nome %}
                            {{ str }} <br>
                          {% endif %}
                        {% endfor %}  
                      {% endif %}
                    </h1>
                    <p>{{ produto.blocos.descricao.conteudo|split('.')[0] }}</p>
                    <a href="index.php?route=sobre/produtos/view&id={{ produto.produto.idproduto }}" class="btn btn-confira">Confira</a>
                  </div>
                  <div class="col-12 col-md-6 py-4 py-md-0 my-md-auto">
                    {% if produto.imagens is defined and produto.imagens|length > 0 %}
                      <img src="{{ produto.imagens[0]['arquivo']|get_upload_link() }}" class="img-fluid animate__animated animate__backInRight" alt="Arium Mini">
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% set count = count + 1 %}
          {% endif %}
        {% endfor %}
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
{% endif %}

  <div class="container-fluid orcamento" style="background-image: url(assets/img/home/orcamento.jpg);">
    <div class="container">
      <div class="row">
        <div class="my-auto col-12 col-md-8">
          <h2 class="mb-0"><strong>Solicite</strong> seu orçamento agora mesmo</h2>
        </div>
        <div class="my-auto col-12 col-md-4 text-center pt-4 pt-md-0">
          <a href="index.php?route=sobre/orcamento" class="btn">Clique aqui</a>
        </div>
      </div>
    </div>
  </div>

  {% if home_representadas is defined %}
    <div class="container-fluid representadas">
      <div class="container">
        <h2>nossas representadas</h2>
        <h5 class="my-5 text-center">As maiores empresas de equipamentos. Conheça agora!</h5>

        <div class="row justify-content-center">
          {% for pagina in home_representadas.sub %}
          {% if pagina.arquivos.logo is defined %}
            <div class="col-10 col-md-4">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="{{ pagina.arquivos.logo.arquivo|get_upload_link() }}" alt="{{ pagina.nome }}">
                  </div>
                  <div class="flip-card-back" style="background-image: url('{{ pagina.arquivos.logo.arquivo|get_upload_link() }}');">
                    <div class="filter">
                      {% if pagina.blocos.info is defined %}
                        {{ pagina.blocos.info.conteudo }}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <a href="index.php?route=sobre/representadas&r={{ pagina.idpagina }}" class="btn btn-flip-card hvr-bounce-to-right mt-2">Detalhes</a>
              <h6>{{ pagina.nome }}</h6>
            </div>
            
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}


{% if home_departamentos is defined %}
  <div class="container servicos">
    <div class="row">
      {% set count = 0 %}
      {% for departamento in home_departamentos %}
        {% if count < 2 %}
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <div class="card-servico" style="background-image: url('{{ departamento.imagem }}');">
              <div class="conteudo">
                <h4 class="text-uppercase">{{ departamento.nome }}</h4>
                <p>Confira nossa linha completa de {{ departamento.nome }}.</p>
              </div>
              <a href="index.php?route=sobre/produtos&d={{ departamento.iddepartamento }}" class="btn btn-servico hvr-pulse-grow"><i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
          {% set count = count + 1 %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %}

{% if home_empresa is defined and home_empresa.blocos.home is defined %}
  <div class="container my-5">
    <div class="row">
      <div class="col-12">
        <div class="aempresa container">
          
          <div class="row">
            <div class="col-9 col-md-7 p-5" style="position: relative;">
              <label>A EMPRESA</label>
              <h3>MULTIBIO</h3>
              {{ home_empresa.blocos.home.conteudo }}
              <a href="index.php?route=sobre/quem_somos" class="btn btn-saiba-mais hvr-icon-wobble-horizontal">Saiba mais<i class="fas fa-chevron-right ml-3 "></i></a>
            </div>
            <div class="col-3 col-md-5 img" style="background-image: url(assets/img/home/aempresa.jpg);"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

  {{ footer }}


  </script>
  
</body>
</html>