<div class="container" id="membros">
  <h2 class="text-center">Nossos <span>parceiros</span></h2>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/membros/apex.png)"></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/membros/apex.png)"></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/membros/apex.png)"></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/membros/apex.png)"></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/membros/apex.png)"></div>
    </div>
  </div>

</div>
  
