<div class="container pt-3 mt-4" id="patrocinadores">
  <h2 class="text-center">Nossos <span>patrocinadores</span></h2>
  <div class="row">
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/mantenedores/apex.png)"></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/mantenedores/apex.png)"></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/mantenedores/apex.png)"></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/mantenedores/apex.png)"></div>
    </div>
    <div class="col-12 col-md-3">
      <div class="img" style="background-image: url({{ assets }}img/home/mantenedores/apex.png)"></div>
    </div>
  </div>

</div>

