<div class="container-fluid">
  <!-- Modal -->
  <div class="modal fade" id="modalEditCategoria" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form method="post" action="{{ action_edit_categoria }}">
          <input type="hidden" name="id" value="{{ categoria.idcategoria_produto }}">
          <div class="modal-header">
              <h5 class="modal-title">Editar categoria {{ categoria.nome }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Cancelar">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-8">
                <div class="form-group">
                  <label>Nome da categoria</label>
                  <input class="form-control" name="nome" required value="{{ categoria.nome }}">
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Icone da categoria</label>
                  <input type="hidden" name="icone" value="{{ categoria.icone }}">
                  <div class="dropdown">
                    <button class="btn btn-block btn-light btn-select-icon" type="button">
                      {{ categoria.icone != '' ? '<i class="' ~ categoria.icone ~ '"></i>' : 'Selecione' }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" name="ativo" id="ativo_{{ categoria.idcategoria_produto }}" {{ categoria.ativo == 1 ? 'checked' : '' }} value="1">
              <label class="custom-control-label" for="ativo_{{ categoria.idcategoria_produto }}">Ativo</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <script>
    $(document).ready(function () {
      const modal_edit_categoria = $('#modalEditCategoria');
      
      modal_edit_categoria.find('.btn-select-icon').iconpicker();
  
      modal_edit_categoria.find('.btn-select-icon').on('iconpickerSelected', function(event){
        $(this).html(`<i class="${event.iconpickerValue}"></i>`);
        modal_edit_categoria.find('[name="icone"]').val(event.iconpickerValue);
      });
    });
  </script>
</div>