<div class="container-fluid">  
  <!-- Modal -->
  <div class="modal fade" id="modalMovimentacao" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" id="form_movimentacao" action="{{ action_movimentacao }}">
          <div class="modal-header">
            <h5 class="modal-title">Lançar <span></span></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="custom-controls-stacked d-flex justify-content-center">
              <label class="custom-control custom-radio mr-4">
                <input name="lancar" value="entrada" type="radio" class="custom-control-input">
                <span class="custom-control-label">Entrada</span>
              </label>
              <label class="custom-control custom-radio">
                <input name="lancar" value="saida" type="radio" class="custom-control-input">
                <span class="custom-control-label">Saída</span>
              </label>
            </div>
            <div class="form-group">
              <label>Descrição</label>
              <textarea class="form-control" rows="4" name="descricao"></textarea>
            </div>
            <div class="form-group">
              <label>Produtos *</label>
              <select class="form-control" name="produtos[]" multiple required>
                {% if categorias_produtos is defined %}
                  {% for categoria in categorias_produtos %}
                    {% if categoria.produtos|length > 0 %}
                      <optgroup label="{{ categoria.nome }}">
                        {% for produto in categoria.produtos %}
                          <option value="{{ produto.idproduto }}" data-medida="{{ produto.medida }}">{{ produto.nome }}</option>
                        {% endfor %}
                      </optgroup>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="tab" style="display: none;" id="tab_produtos_movimentacao">
              <ul class="nav nav-tabs" role="tablist">
              </ul>
              <div class="tab-content">
              </div>
            </div>
            <div class="form-group">
              <label>Nota fiscal <small>(Opcional)</small></label>
              <div class="d-flex">
                <a href="javascript:;" class="btn btn-primary btn-sm btn-icon btn-abrir-camera">
                  <i class="fas fa-camera"></i>
                  <span>Camera</span>
                </a>
                <a href="javascript:;" class="btn btn-primary btn-sm btn-icon btn-escolher-arquivo ml-2">
                  <i class="fas fa-paperclip"></i>
                  <span>Enviar arquivo</span>
                </a>
              </div>

              {# fazer quadradinho com camera e em baixo os arquivos, x no quadradinho pra fechar e alertar se tiver arquivos #}


              <div class="upload_files mt-3">
                <div class="take_photo text-center" style="display: none">
                  <label>Tirar foto com a camera</label>
                  <div id="camera" loaded="false" class="mx-auto"></div>
                  <div class="mx-auto text-center mt-2 d-flex justify-content-center">
                    <a href="javascript:;" class="btn btn-link btn-take-picture"><i class="fas fa-camera fa-2x"></i></a>
                    <a href="javascript:;" style="display: none" class="btn btn-link btn-save"><i class="fas fa-check fa-2x"></i></a>
                    <a href="javascript:;" style="display: none" class="btn btn-link btn-discard"><i class="fas fa-times fa-2x"></i></a>
                  </div>
                </div>

                <div class="choose_file" style="display: none">
                  <label class="d-block text-center">Enviar arquivo do computador</label>
                  <div class="d-block text-center mt-2">
                    <a href="javascript:;" class="btn btn-square btn-outline-info">Selecionar arquivos</a>
                    <input type="file" class="d-none" name="tmp_imagens[]" multiple accept="image/png, image/jpeg, application/pdf, application/vnd.ms-excel">
                  </div>
                </div>
              </div>

              <div class="list_files mt-3">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Lançar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

  function setCam() {
    let container = $('#form_movimentacao .upload_files');
    let cam = container.find('#camera');
    cam.attr('loaded', 'true');
    cam.fadeIn();
    Webcam.attach('#form_movimentacao #camera');
  }

  function removeCam() {
    let container = $('#form_movimentacao .upload_files');
    let cam = container.find('#camera');
    cam.attr('loaded', 'false');
    Webcam.reset();
    cam.hide();
  }

  function setPreview(b64) {
    let container = $('#form_movimentacao .upload_files .take_photo');
    let cam = container.find('#camera');
    let html = `
      <div id="preview_camera">
        <img src="${b64}" class="img-fluid">
      </div>
    `;
    $(html).insertAfter(cam);

    container.find('.btn-take-picture').fadeOut(300, function () {
      container.find('.btn-save').fadeIn(300);
      container.find('.btn-discard').fadeIn(300);
    });
  }

  function removePreview() {
    let container = $('#form_movimentacao .upload_files .take_photo');
    let preview = container.find('#preview_camera');
    preview.fadeOut(300, function () {
      preview.remove();
    });
    container.find('.btn-discard').fadeOut(300);
    container.find('.btn-save').fadeOut(300, function () {
      container.find('.btn-take-picture').fadeIn(300);
    });
  }

  function capture_web_snapshot() {
    Webcam.snap( function(site_url) {
      setPreview(site_url);
      removeCam();
    } );
  }

  async function previewUpload(file) {
    return new Promise(function (resolve, reject) {
      var reader = new FileReader();
      reader.onload = function() {
        resolve(reader.result);
      };
      reader.readAsDataURL(event.target.files[0]);
    });
  }

  async function uploadFile(file) {
    return new Promise(function (resolve, reject) {
      let formData = new FormData();
      formData.append('file', file);

      $.ajax({
        url : '{{ url_upload_file }}',
        type : 'POST',
        data : formData,
        processData: false, 
        contentType: false, 
        success : function(data) {
          if (data.error == false) {
            resolve(data.file);
          } else {
            reject(data);
          }
        }
      });
    });
  }

  async function deleteFile(file) {
    return new Promise(function (resolve, reject) {
      $.post('{{ url_delete_file }}', { file }, function (res) {
        if (res.error == false) {
          resolve(true);
        } else {
          Swal.fire('Erro ao excluir arquivo', res.msg, 'error');
          resolve(false);
        }
      })
    });
  }

  $(document).ready(function () {

    Webcam.set({
      width: 290,
      height: 290,
      image_format: 'jpeg',
      jpeg_quality: 90
    });

    var f1 = $('#form_movimentacao');
    var b1 = f1.find('.btn[type="submit"]');

    f1.find('.btn-abrir-camera').click(function () {
      let cam = $('#camera');
      if (cam.attr('loaded') == 'false') {
        
        setCam();
        f1.find('.btn-take-picture').unbind('click');
        f1.find('.btn-take-picture').click(function () {
          capture_web_snapshot();
        });

        $('.take_photo').fadeIn(300);
        $('.choose_file').fadeOut(300).attr('show', 'false');
      } else {
        removeCam();
        f1.find('.btn-take-picture').unbind('click');
        $('.take_photo').fadeOut(300);
      }
    });

    f1.find('.btn-escolher-arquivo').click(function () {
      let container = $('.choose_file');
      if (container.attr('show') === 'true') {
        container.fadeOut(300).attr('show', 'false');
      } else {
        removeCam();
        f1.find('.btn-take-picture').unbind('click');
        $('.take_photo').fadeOut(300, function () {
          container.fadeIn(300);
          container.attr('show', 'true');
        });

      }


    });

    f1.find('.upload_files .btn-save').click(function () {
      
      let preview = f1.find('#preview_camera');
      let img = preview.find('img').attr('src');
      let html = `
        <div class="item">
          <a href="javascript:;" class="delete"><i class="fas fa-trash text-danger"></i></a>
          <input type="hidden" name="imagem[]" value="${img}">
          <img src="${img}" class="img-fluid">
        </div>
      `;
      
      removePreview();
      let el = $(html).appendTo(f1.find('.list_files'));
      el.find('.delete').click(function () {
        Swal.fire({
          icon: 'question', 
          title: 'Remover imagem',
          text: 'Você tem certeza que deseja remover esta imagem?',
          showConfirmButton: true,
          showCancelButton: true,
          confirmButtonText: 'Sim',
          cancelButtonText: 'Não'
        }).then(function (res) {
          if (res.isConfirmed) {
            el.fadeOut(300, function () {
              el.remove();
            })
          }
        })
      });
      setCam();
    });

    f1.find('.upload_files .btn-discard').click(function () {
      removePreview();
      setCam();

    });

    f1.find('.upload_files .choose_file a').click(function () {
      let container = f1.find('.upload_files .choose_file');
      container.find('input[type="file"]').click();
    })

    f1.find('.upload_files .choose_file input[type="file"]').change(async function (event) {
      $.each(event.target.files, async function (index, el) {
        let ext = el.name.split('.');
        ext = ext[ext.length - 1];
        console.log(ext);
        let img_extensions = ['png', 'jpg', 'jpeg'];

        let img = ''; let tipo = 'imagem'; let input = '';
        let file = null;
        if ($.inArray(ext, img_extensions) >= 0) {
          img = await previewUpload(el);
          input = `<input type="hidden" name="imagem[]" value="${img}">`;
          img = `<img src="${img}" class="img-fluid">`;
        } else {
          tipo = 'pdf';
          img = '<i class="fad fa-file-pdf"></i>';
          input = await uploadFile(el);
          file = input;
          input = `<input type="hidden" name="imagem[]" value="${input}">`;
        }

        let html = `
          <div class="item">
            <a href="javascript:;" class="delete"><i class="fas fa-trash text-danger"></i></a>
            ${input}
            ${img}
          </div>
        `;

        let new_el = $(html).appendTo(f1.find('.list_files'));
        new_el.find('.delete').click(function () {
          Swal.fire({
            icon: 'question', 
            title: 'Remover ' + (tipo == 'imagem' ? 'imagem' : 'arquivo') + '',
            text: 'Você tem certeza que deseja remover ' + (tipo == 'imagem' ? 'esta imagem' : 'este arquivo') + '?',
            showConfirmButton: true,
            showCancelButton: true,
            confirmButtonText: 'Sim',
            cancelButtonText: 'Não'
          }).then(async function (res) {
            if (res.isConfirmed) {
              let deleted = await deleteFile(file);
              if (deleted) {
                new_el.fadeOut(300, function () {
                  new_el.remove();
                })
              }
            }
          })
        });
      });

      $(this).val('');
    });


    b1.click(function() {
      f1.ajaxForm({
        beforeSend: function() {
          b1.attr('disabled', 'disabled');
        },
        success: function(e) {
          b1.removeAttr('disabled');
          if (e.error == false) {
            location.reload();
          } else {
            Swal.fire('Erro ao lançar movimentação', e.errors.join('<br>'), 'error');
          }
        },
        error: function(e) {
          b1.removeAttr('disabled');
          console.log(e);
        }
      });
    });

    $('[name="produtos[]"]').select2({
      placeholder: 'Selecione um ou mais produtos'
    });

    $('[name="produtos[]"]').change(function () {
      let produtos = $(this).find('option:checked');
      let container = $('#tab_produtos_movimentacao');
      let func = $('[name="lancar"]').val();

      let tabs = [];

      for (let produto of produtos) {
        let id = $(produto).attr('value');
        tabs.push(`#tab_produto_${id}`);

        if ($(container.find(`.nav a[href="#tab_produto_${id}"]`)).length == 0) {
          let medida = $(produto).attr('data-medida');
          let nome = $(produto).text();
          medida = medida.split(',');
          let html_li = `
            <li class="nav-item">
              <a class="nav-link" href="#tab_produto_${id}" data-toggle="tab">${nome}</a>
            </li>
          `;
          let html_tab = `
            <div class="tab-pane" id="tab_produto_${id}" role="tabpanel">
              <div class="form-group">
                <label><span class="text-func text-capitalize">${func}</span> de</label>
                <div class="input-group">
                  <input type="text" name="obj[${id}]" class="form-control">
                  <div class="input-group-append">
                    <span class="input-group-text text-un">${medida[1]}</span>
                  </div>
                </div>
                <small>${medida[0]}</small>
              </div>
            </div>
          `;
  
          let li = $(html_li).appendTo(container.find('.nav'));
          let tab = $(html_tab).appendTo(container.find('.tab-content'));
  
          if (container.find('.nav li').length == 1) {
            li.find('.nav-link').addClass('active');
            tab.addClass('active');
            container.slideDown();
          }
        }
      }

      let all_tabs = container.find('.nav li');
      if (tabs.length < all_tabs.length) {
        for (let t of all_tabs) {
          let n = $(t).find('.nav-link').attr('href');
          if (!tabs.includes(n)) {
            $(t).remove();
            $(n).remove();
          }
        }
        container.find(tabs[0]).addClass('active');
        container.find(`a[href="${tabs[0]}"]`).addClass('active');
      }
    })

    $('[name="lancar"]').change(function () {
      let func = $(this).val();
      $(this).closest('.modal-content').find('.text-func').text(func);
      $(this).closest('.modal-content').find('.modal-title span').text(func);
    });
  });

</script>