<div class="container-fluid">
  <div class="modal fade" id="modalEditProduto" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" id="form_movimentacao" action="{{ action_edit_produto }}">
          <input type="hidden" name="id" value="{{ produto.idproduto_cardapio }}">
          <div class="modal-header">
            <h5 class="modal-title">Editar produto</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Nome do produto *</label>
              <input type="text" class="form-control" name="nome" autocomplete="off" required value="{{ produto.nome }}">
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label>Categoria *</label>
                  <select class="form-control" name="categoria" required>
                    {% if categorias_cardapio is defined %}
                      {% for categoria in categorias_cardapio %}
                        <option {{ produto.categoria == categoria.idcategoria_cardapio ? 'selected' : '' }} value="{{ categoria.idcategoria_cardapio }}">{{ categoria.nome }}</option>
                      {% endfor %}
                    {% endif %}
                  </select>
                </div>
              </div>
              <div class="col-4">
                <label>Preço *</label>
                <div class="input-group m-0">
                  <div class="input-group-prepend">
                    <span class="input-group-text">R$</span>
                  </div>
                  <input name="preco" type="text" value="{{ produto.preco }}" class="form-control" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Descrição</label>
              <textarea class="form-control" rows="4" name="descricao">{{ produto.descricao }}</textarea>
            </div>
            <div class="form-group">
              <label>Produtos inclusos *</label>
              <select class="form-control" name="produtos[]" multiple required>
                {% if categorias_produtos is defined %}
                  {% for categoria in categorias_produtos %}
                    {% if categoria.produtos|length > 0 %}
                      <optgroup label="{{ categoria.nome }}">
                        {% for sub_produto in categoria.produtos %}
                          <option {{ sub_produto.idproduto in produto.produtos|keys ? 'selected' : '' }} value="{{ sub_produto.idproduto }}" data-medida="{{ sub_produto.medida }}">{{ sub_produto.nome }}</option>
                        {% endfor %}
                      </optgroup>
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="tab" id="tab_produtos_movimentacao">
              <ul class="nav nav-tabs" role="tablist">
                {% set count = 0 %}
                {% if produto.produtos is defined and produto.produtos|length > 0 %}
                  {% for id,sub_produto in produto.produtos %}
                    <li class="nav-item">
                      <a class="nav-link {{ count == 0 ? 'active' : '' }}" href="#tab_produto_{{ id }}" data-toggle="tab">{{ sub_produto.produto.nome }}</a>
                    </li>
                    {% set count = count + 1 %}
                  {% endfor %}
                {% endif %}
              </ul>
              <div class="tab-content">
                {% set count = 0 %}
                {% if produto.produtos is defined and produto.produtos|length > 0 %}
                  {% for id,sub_produto in produto.produtos %}
                    <div class="tab-pane {{ count == 0 ? 'active' : '' }}" id="tab_produto_{{ id }}" role="tabpanel">
                      <div class="form-group">
                        <label>Quantidade</label>
                        <div class="input-group">
                          <input type="text" name="obj[{{ id }}][qnt]" value="{{ sub_produto.qnt }}" class="form-control">
                          <div class="input-group-append">
                            {% set medida = sub_produto.produto.medida|split(',') %}
                            <span class="input-group-text text-un">{{ medida[1] }}</span>
                          </div>
                        </div>
                        <small>{{ medida[0] }}</small>
                      </div>
                      <div class="form-group">
                        <label>Observações</label>
                        <textarea name="obj[{{ id }}][obs]" class="form-control">{{ sub_produto.obs }}</textarea>
                      </div>
                    </div>
                    {% set count = count + 1 %}
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" name="ativo" id="ativo_produto" {{ produto.ativo == 1 ? 'checked' : '' }} value="1">
              <label class="custom-control-label" for="ativo_categoria">Ativo</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>

    $(document).ready(function () {

      const modal_edit_produto = $('#modalEditProduto');
      
      modal_edit_produto.find('[name="preco"]').mask('000.000.000.000.000,00', {reverse: true});

      modal_edit_produto.find('[name="produtos[]"]').select2({
        placeholder: 'Selecione um ou mais produtos'
      });

      modal_edit_produto.find('[name="produtos[]"]').change(function () {
        let produtos = $(this).find('option:checked');
        let container = modal_edit_produto.find('#tab_produtos_movimentacao');
        let func = modal_edit_produto.find('[name="lancar"]').val();

        let tabs = [];

        for (let produto of produtos) {
          let id = $(produto).attr('value');
          tabs.push(`#tab_produto_${id}`);

          if ($(container.find(`.nav a[href="#tab_produto_${id}"]`)).length == 0) {
            let medida = $(produto).attr('data-medida');
            let nome = $(produto).text();
            medida = medida.split(',');
            let html_li = `
              <li class="nav-item">
                <a class="nav-link" href="#tab_produto_${id}" data-toggle="tab">${nome}</a>
              </li>
            `;
            let html_tab = `
              <div class="tab-pane" id="tab_produto_${id}" role="tabpanel">
                <div class="form-group">
                  <label>Quantidade</label>
                  <div class="input-group">
                    <input type="text" name="obj[${id}][qnt]" class="form-control">
                    <div class="input-group-append">
                      <span class="input-group-text text-un">${medida[1]}</span>
                    </div>
                  </div>
                  <small>${medida[0]}</small>
                </div>
                <div class="form-group">
                  <label>Observações</label>
                  <textarea name="obj[${id}][obs]" class="form-control"></textarea>
                </div>
              </div>
            `;
    
            let li = $(html_li).appendTo(container.find('.nav'));
            let tab = $(html_tab).appendTo(container.find('.tab-content'));
    
            if (container.find('.nav li').length == 1) {
              li.find('.nav-link').addClass('active');
              tab.addClass('active');
              container.slideDown();
            }
          }
        }

        let all_tabs = container.find('.nav li');
        if (tabs.length < all_tabs.length) {
          for (let t of all_tabs) {
            let n = modal_edit_produto.find(t).find('.nav-link').attr('href');
            if (!tabs.includes(n)) {
              $(t).remove();
              $(n).remove();
            }
          }
          container.find(tabs[0]).addClass('active');
          container.find(`a[href="${tabs[0]}"]`).addClass('active');
        }
      });

      //modal_edit_produto.find('[name="produtos[]"]').trigger('change');
    })

  </script>
</div>