{{ header }}
  
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="d-flex justify-content-between align-items-center border-bottom pb-3">
          <div>
            <a href="#modalAddCategoria" data-toggle="modal" class="btn-lg btn btn-outline-dark mr-2"><i class="fas fa-plus pr-3"></i> Adicionar categoria</a>
            <a href="#modalAddProduto" data-toggle="modal" class="btn-lg btn btn-outline-dark mr-2"><i class="fas fa-plus pr-3"></i> Adicionar produto</a>
          </div>
          <h3 class="m-0 text-center">Gerenciar cardápio</h3>
        </div>

        <div class="cardapio mt-4 p-5">
          {% if categorias_cardapio is defined %}
            {% for categoria in categorias_cardapio %}
              <div class="categoria">
                <div class="toggler d-flex align-items-center mb-2" data-toggle="collapse" data-target="#categoria_{{ categoria.idcategoria_cardapio }}">
                  <i class="fas fa-chevron-up"></i>
                  <h5 class="m-0"> {{ categoria.nome }} </h5>
                  <a href="javascript:;" data-id="{{ categoria.idcategoria_cardapio }}" class="btn btn-sm btn-outline-dark edit"><i class="fas fa-pen-alt"></i></a>
                  <a href="javascript:;" data-id="{{ categoria.idcategoria_cardapio }}" class="ml-2 btn btn-sm btn-outline-danger delete"><i class="fas fa-times"></i></a>
                </div>
                <div class="collapse show" id="categoria_{{ categoria.idcategoria_cardapio }}">
                  <div class="table-responsive">
                    <table class="table table-sm table-hover table-striped table-borderless">
                      <tbody>
                        {% if categoria.produtos is defined and categoria.produtos|length > 0 %}
                          {% for produto in categoria.produtos %}
                            <tr>
                              <td class="status">
                                <span class="text-{{ produto.status_geral == true ? 'success' : 'danger' }}">{{ produto.status_geral == true ? 'Disponível' : 'Indisponível' }}</span>
                                <a href="javascript:;"><i class="fas fa-question-circle ml-2"></i></a>
                                <ul class="">
                                  {% if produto.info is defined and produto.info|length > 0 %}
                                    {% for item in produto.info %}
                                      {% set medida = item.produto.medida|split(',') %}
                                      <li class="font-10 {{ item.status == false ? 'text-danger' : '' }}">{{ item.produto.nome }} - x {{ item.qnt  ~ ' ' ~ medida[1] }}</li>
                                      {% set medida = null %}
                                    {% endfor %}
                                  {% endif %}
                                </ul>
                              </td>
                              <td>{{ produto.nome }}</td>
                              <td>{{ produto.preco }}</td>
                              <td>
                                <a href="javascript:;" data-id="{{ produto.idproduto_cardapio }}" class="btn btn-sm btn-dark edit"><i class="fas fa-pen-alt"></i></a>
                                <a href="javascript:;" data-id="{{ produto.idproduto_cardapio }}" class="ml-2 btn btn-sm btn-danger delete"><i class="fas fa-times"></i></a>
                              </td>
                            </tr>
                          {% endfor %}
                        {% endif %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {{ modal_add_categoria }}
  {{ modal_add_produto }}

  <script>

    $(document).ready(function () {
      let items_table = $('.cardapio .categoria table tbody tr');
      $.each(items_table, function (index, el) {
        $(el).find('.status a').popover({
          trigger: 'focus',
          container: 'body',
          content: $(el).find('.status ul').prop("outerHTML"),
          html: true,
          placement: 'right',
          title: 'Informações'
        })
      })
      
      $('.cardapio .categoria .collapse').on('hide.bs.collapse', function () {
        $(this).parent().find('.toggler > i').addClass('fa-rotate-180');
      });

      $('.cardapio .categoria .collapse').on('show.bs.collapse', function () {
        $(this).parent().find('.toggler > i').removeClass('fa-rotate-180');
      });
      
      // categorias
      $('.cardapio .categoria .toggler .edit').click(function (e) {
        e.stopPropagation();
        let id = $(this).attr('data-id');
        $.get('{{ url_edit_categoria }}', {
          id
        }, function (res) {
          let e = $(res.result).appendTo('#painel .main');
          $(e).find('#modalEditCategoria').modal('show');

          $(e).find('#modalEditCategoria').on('hidden.bs.modal', function () {
            e.remove();
          })
        })
      });

      $('.cardapio .categoria .toggler .delete').click(function (e) {
        e.stopPropagation();
        let id = $(this).attr('data-id');
        Swal.fire({ 
          title: 'Excluir categoria', 
          icon: 'question', 
          text: 'Você tem certeza que deseja excluir esta categoria?', 
          showCancelButton: true, 
          confirmButtonText: `Sim`, 
          cancelButtonText: `Cancelar`, 
        }).then((result) => { 
          if (result.isConfirmed) { 
            $.post('{{ url_excluir_categoria }}', {
              id
            }, function (res) {
              if (res.error == false) {
                location.reload();
              } else {
                Swal.fire(res.msg.type, res.msg.title, res.msg.title);
              }
            })
          } 
        }); 
      });


      // produtos 
      $('.cardapio .categoria .table tr td .edit').click(function () {
        let id = $(this).attr('data-id');
        $.get('{{ url_edit_produto }}', {
          id
        }, function (res) {
          let e = $(res.result).appendTo('#painel .main');
          $(e).find('#modalEditProduto').modal('show');

          $(e).find('#modalEditProduto').on('hidden.bs.modal', function () {
            e.remove();
          })
        })
      });

      $('.cardapio .categoria .table tr td .delete').click(function () {
        let id = $(this).attr('data-id');
        Swal.fire({ 
          title: 'Excluir produto', 
          icon: 'question', 
          text: 'Você tem certeza que deseja excluir este produto?', 
          showCancelButton: true, 
          confirmButtonText: `Sim`, 
          cancelButtonText: `Cancelar`, 
        }).then((result) => { 
          if (result.isConfirmed) { 
            $.post('{{ url_excluir_produto }}', {
              id
            }, function (res) {
              if (res.error == false) {
                location.reload();
              } else {
                Swal.fire(res.msg.type, res.msg.title, res.msg.title);
              }
            })
          } 
        }); 
      }); 
    });

  </script>

{{ footer }}