
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Bootstrap 5 Admin &amp; Dashboard Template">
	<meta name="author" content="Bootlab">

	<title>{{ heading_title }}</title>

	<link rel="canonical" href="https://appstack.bootlab.io/pages-sign-in.html" />
	<link rel="shortcut icon" href="img/favicon.ico">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="{{ assets }}node_modules/sweetalert2/dist/sweetalert2.css" rel="stylesheet">
	<link href="{{ assets }}css/dark.css" rel="stylesheet">
  <link href="{{ assets }}node_modules/sweetalert2/dist/dark.css">
  <link href="{{ assets }}css/styles/custom.css" rel="stylesheet">
  <link href="{{ assets }}css/fontawesome_pro.css" rel="stylesheet">
	<!-- <link href="{{ assets }}css/dark.css" rel="stylesheet"> -->
  <link class="js-stylesheet" href="{{ assets }}css/styles/custom.css" rel="stylesheet">
	
  <!-- SUMMERNOTE -->
  <link href="{{ assets }}node_modules/summernote/summernote.css" rel="stylesheet">

  <link href="{{ assets }}node_modules/notyf/notyf.min.css" rel="stylesheet">

  {% if custom_styles is defined %}
    {% for style in custom_styles %}
      {% set source = assets %}
      
      {% if 'PARENT::' in style %}
        {% set style = style|trim('PARENT::') %}
        {% set source = source|replace({'/admin': ''}) %}
      {% endif %}
      
      <link rel="stylesheet" href="{{ source }}{{ style }}.css">
    {% endfor %}
  {% endif %}

</head>

  {# HOW TO USE: 
  data-theme: default (default), dark, light
  data-layout: fluid (default), boxed
  data-sidebar-position: left (default), right
  data-sidebar-behavior: sticky (default), fixed, compact #}

<body data-theme="dark" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="compact">

  <script src="{{ assets }}/js/app.js"></script>
  {# <script src="{{ assets }}js/core/settings.js"></script> #}
  <script src="{{ assets }}node_modules/summernote/summernote.js"></script>
  <script src="{{ assets }}node_modules/notyf/notyf.min.js"></script>
  <script src="{{ assets }}node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
  <script src="{{ assets }}js/beto.js"></script>
  <script src="{{ assets }}js/plugins/jquery.form.js"></script>

  {% if custom_scripts is defined %}
    {% for script in custom_scripts %}
      <script src="{{ assets }}{{ script }}.js"></script>
    {% endfor %}
  {% endif %}

  <script>
    const beto = Beto;
  </script>

  {% if login_page == true %}
  <div class="main d-flex justify-content-center w-100">
  {% else %}
  <div class="wrapper" id="painel">
    {{ sidebar }}
    
    <div class="main">
      {{ navbar }}
      <main class="content">

  {% endif %}