{{ header }}
<div class="container-fluid p-0" id="container_evento">

  {% if evento is defined and evento|length > 0 %}
    <div class="row">
      <div class="col-6 mx-auto">
        <div class="card">
          <div class="card-body">
            <h4 class="text-center mb-3">{{ evento.nome }}</h4>
            <div class="info-evento">
              <div>
                <span>0</span>
                <small>pessoas no evento</small>
              </div>
              <div>
                <span><small>R$</small> 0,00</span>
                <small>valor arrecadado</small>
              </div>
            </div>
            {# <div class="text-center mt-3">
              <a href="javascript:;" data-id="{{ evento.idevento }}"  class="btn-sm btn btn-outline-info text-uppercase btn-square btn-finalizar-evento">Finalizar evento</a>
            </div> #}


          </div>
          <div class="card-footer bg-light py-1 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fas fa-clock mr-2"></i>
              <div id="txt"></div>
            </div>
            <div>
              <small class="text-uppercase">Final previsto do evento</small> 
              {{ evento.final[1]|datetime('H:i:s', 'H:i') }}
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 mt-5">
        <div class="botoes">
          <a href="#" class="btn"><i class="fas fa-users"></i>Entrada</a>
          <a href="#" class="btn"><i class="fas fa-chair"></i>Mesas</a>
          <a href="#" class="btn"><i class="fas fa-receipt"></i>Pedido</a>
          <a href="#" class="btn"><i class="fas fa-dollar-sign"></i>Contas</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="alert alert-primary alert-outline" role="alert">
      <div class="alert-message">
        <h4 class="alert-heading">Nenhum evento em andamento!</h4>
        <p>Os eventos são necessários para que a aplicação de consumo consiga operar.</p>
        <hr>
        <div class="btn-list">
          <button class="btn btn-success btn_novo_evento" type="button">Iniciar evento</button>
          <button class="btn btn-info" type="button">Configurar eventos programados</button>
        </div>
      </div>
    </div>
  {% endif %}

</div>

<script>

  function startTime() {
    const today = new Date();
    let h = today.getHours();
    let m = today.getMinutes();
    let s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
    setTimeout(startTime, 1000);
  }

  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }

</script>

{% if evento is defined and evento|length > 0 %}
  <script>
     $(document).ready(function () {
        startTime();
     });
  </script>
{% endif %}


{{ footer }}